<div class="row">
  <div class="medium-12 columns">
    <h1>Thank you for your order</h1>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="medium-8 small-12 columns small-centered text-center">
    <a routerLink="/" class="button success large expanded">Continue Shopping!</a>
  </div>
</div>
